@font-face {
    font-family: 'Stellar';
    src: url('../font/Stellar-Regular.woff2') format('woff2'),
        url('../font/Stellar-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Stellar';
    src: url('../font/Stellar-Bold.woff2') format('woff2'),
        url('../font/Stellar-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('../font/MADEEvolveSansEVO.woff2') format('woff2'),
        url('../font/MADEEvolveSansEVO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('../font/MADEEvolveSans.woff2') format('woff2'),
        url('../font/MADEEvolveSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Blanka';
    src: url('../font/Blanka-Regular.woff2') format('woff2'),
        url('../font/Blanka-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('../font/MADEEvolveSansEVO-Bold.woff2') format('woff2'),
        url('../font/MADEEvolveSansEVO-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('../font/MADEEvolveSans-Medium.woff2') format('woff2'),
        url('../font/MADEEvolveSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('../font/MADEEvolveSans-Thin.woff2') format('woff2'),
        url('../font/MADEEvolveSans-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('../font/MADEEvolveSansEVO-Thin.woff2') format('woff2'),
        url('../font/MADEEvolveSansEVO-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('../font/MADEEvolveSansEVO-Medium.woff2') format('woff2'),
        url('../font/MADEEvolveSansEVO-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('../font/MADEEvolveSans-Bold.woff2') format('woff2'),
        url('../font/MADEEvolveSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans';
    src: url('../font/MADEEvolveSans-Light.woff2') format('woff2'),
        url('../font/MADEEvolveSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'MADE Evolve Sans EVO';
    src: url('../font/MADEEvolveSansEVO-Light.woff2') format('woff2'),
        url('../font/MADEEvolveSansEVO-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Stellar';
    src: url('../font/Stellar-Light.woff2') format('woff2'),
        url('../font/Stellar-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Stellar';
    src: url('../font/Stellar-Medium.woff2') format('woff2'),
        url('../font/Stellar-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Ailerons';
    src: url('../font/Ailerons-Regular.woff2') format('woff2'),
        url('../font/Ailerons-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Stellar';
    /* background-color: rgb(8, 3, 63); */
    background-color: #06003e;
}

/* navbar */

.navbar-fixed{
    position: absolute;
    z-index: 99999999;
}

.logo_nav{
    max-height: 50px;
    padding-top: 10px;
}

.bg_navbar{
    background-color: rgba(8, 3, 63, 0.7);
    transition: 1500ms;
}

#navbar.transparent{
    transition: 1500ms;
}

#navbar ul a:hover{
    color:yellow;
    font-weight: bold;
}

nav ul li.active > a{
    color:yellow !important;
    font-weight: bold;
}

/* end of navbar */

.row{
    margin-bottom: 0px;
}

h1{
    margin: 0;
}

.btnMain{
    border-radius: 20px;
    font-size: 15px;
    font-family: 'Stellar';
}

.btnMain:hover{
    background-color: transparent !important;
    border: 3px solid #03a9f4;
}

.btnMain_border{
    background: transparent !important;
    border-radius: 20px;
    border: 3px solid #ff00e2;
    font-size: 15px;
    font-family: 'Stellar';
}

.btnMain_border:hover{
    background-color: #ff00e2 !important;
}

#header-section{
    color: white;
    min-height: 685px;
    background: url('../img/header.jpg') no-repeat center;
    background-size: cover;
}

.header-content{
    margin-top: 10%;
    text-align: center;
    /* color: #ffcc02; */
    font-family: 'Blanka';
    font-size: 50pt;
    box-shadow: 2px;
}

.text_shadow{
    /* -webkit-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.75); */
    text-shadow: 3px 4px 10px black;
}

.head-1{
    font-family: 'Blanka';
}

.head-2{
    font-family:'MADE Evolve Sans EVO';
}

.imglogo{
    height: 200px;
    width: 200px;
}

.logoFooter{
    max-height: 60px;
}

.footer{
    position: absolute;
    bottom: 5%;
    left: 40%;
    /* text-align: center; */
    font-size: 14pt;
}



#about-section,
#talkshow-section,
#competition-section,
#semnas-section,
#timeline-section,
#sponsormedpart-section{
    padding-top: 5%;
    text-align: center;
    background-size: cover !important;
    font-size:15pt;
}

#about-section{
    padding-top: 5%;
    min-height: 685px;
    background: url('../img/about.jpg') no-repeat center;
    text-align: justify;
}

.logoAbout{
    height: 250px;
    width: 250px;
}

.logoBE{
    height: 200px;
    width: 200px;
}

#talkshow-section{
    padding-top: 5%;
    min-height: 685px;
    background: url('../img/talkshow.jpg') no-repeat center;
}

.talkshow_content{
    text-align: center;
}

#competition-section{
    min-height: 685px;
    background: url('../img/competition.jpg') no-repeat center;
    padding-top: 10%;
}

#semnas-section{
    padding-top: 9%;
    min-height: 685px;
    background: url('../img/semnas.jpg') no-repeat center;
}

#timeline-section{
    padding-top: 10%;
    min-height: 685px;
    background: url('../img/timeline.jpg') no-repeat center;
}

#sponsormedpart-section{
    min-height: 685px;
    background: url('../img/sponsormedpart.jpg') no-repeat center;
}

#contact-section{
    text-align: justify;
    height: 50vh !important;
    position: relative;
    background-color: #06003e;
}

.addPadding_top{
    padding-top: 10% !important;
    transition: 0;
}

@media screen and (max-width: 768px){
    #header-section,
    #about-section,
    #talkshow-section,
    #competition-section,
    #semnas-section,
    #timeline-section,
    #sponsormedpart-section{
        font-size: 13px;
        background: transparent;
        background-size: cover;
    }
    #contact-section{
        height: 60vh !important;
    }
    body#b_ifest19{
        background: url('../img/bg_mobile.jpg') no-repeat;
        background-size: cover;
        /* background: url('../img/bg_mobile.png'); */
        background-color: #06003e;
    }

    .imglogo{
        height: 100px;
        width: 100px;
    }
    .footer{
        text-align: center;
    }
}